.grid-container {
  margin: 5px;
}

.dashboard-card {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 10px;
  top: 10px;
  background-color: #D3D3D3;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  position: relative;
  text-align: center;
  align-self: center;
  align-items: center;
}

