<div>
  <a routerLink="/dashboard" routerLinkActive="active">
    <fa-icon class="fa-2x" style="color:#430d46" [icon]="faBack"></fa-icon>
  </a>
  Back
</div>
<div>
<div><strong>
  Ferry Schedule
</strong>
</div>
<div>
  (Click <a href="https://www.ncdot.gov/travel-maps/ferry-tickets-services/Pages/default.aspx">here </a> to access the ferry website if you need more info than below)
</div>
<br>
<div>
</div>
<br>
<strong><p>Fare Listings</p></strong>
<div><img class="img-responsive" src="assets/images/fares1.PNG">
<img class="img-responsive" src="assets/images/fares2.PNG">
</div>
<br>

<img class="img-responsive" style="width: 80%;" src="assets/images/firststrip.PNG">
<img class="img-responsive" style="width: 80%;" src="assets/images/secondstrip.PNG">
<img class="img-responsive" style="width: 80%;" src="assets/images/thirdstrip.PNG">
<img class="img-responsive" style="width: 80%;" src="assets/images/fourthstrip.PNG">
<img class="img-responsive" style="width: 80%;" src="assets/images/fifthstrip.PNG">
<img class="img-responsive" style="width: 80%;" src="assets/images/sixthstrip.PNG">
<img class="img-responsive" style="width: 80%;" src="assets/images/seventhstrip.PNG">
<br>
<br>
<strong><p>Terminal Map</p></strong>
<img class="img-responsive" style="width: 80%;" src="assets/images/map.PNG">
